<%=render partial: 'common/header' %>

<body>

  <%=render partial: 'common/navCommon' %>

  <section class="pb-4">
    <div class="container">
      <div class="row justify-content-between align-items-center my-4">
        <div class="col-md-6 pb-2" data-aos="fade">
          <h1 class="display-4">Breaks at work just got interesting</h1>
          <p class="lead">Sample, taste, and experience brand new products at your office for free.</p>
          <p>Want to see Gathr in your workplace? Sign up for free now.</p>
          <div id='form-container'>
            <%= render partial: 'form', locals: { early_adoptor: @early_adoptor} %>
          </div>
          <span class="text-small text-muted">Already using Gathr?
            <a href="/account">Sign In</a>
          </span>
        </div>
        <div class="col-md-5 col-lg-6 mb-4 mb-md-0" data-aos="fade-left">
          <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-10">
              <img src="assets/img/group.jpg" alt="Image" class="rounded shadow-3d rotate-left">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row mb-4 text-left">
        <div class="col">
          <h1 class="display-4">Experience all kinds of new</h1>
          <!-- <h4>Your employees can be the first to try the latest</h4> -->
          <h3 class="">You can be the first to try the latest
            <div class="highlight">
              <span
                data-typed-text="data-typed-text"
                data-loop="true"
                data-type-speed="50"
                data-strings='["CBD infused flavored drink.","chickpea-flour based keto snack.","noise-cancelling luxury headphones.","trending men&#39;s cologne.","soy-based protein bar."]'></span>
            </div>
          </h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12">
          <img src="assets/img/productSamples.png" alt="Image" class="">
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-12">
          <img src="assets/img/brandSamples.png" alt="Image" class="">
        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary-alt text-dark py-6">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-8 text-center">
          <h1 class="py-3 mb-0">Time for your 9-to-5 to loosen up</h1>
          <h3 class="h5">Make the work week a little more manageable with new experiences that find you.</h3>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row py-4 mb-4 text-center">
        <div class="col">
          <h2 class="h2">Gathr brings new product discovery into the workplace by allowing you to experience new & noteworthy products coming to market from leading brands.</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-round bg-primary mx-auto mb-4">
            <svg class="icon icon-lg bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Icon For User</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                <path d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                <path
                  d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
                  fill="#000000"
                  fill-rule="nonzero"></path>
              </g>
            </svg>
          </div>
          <h4>Customized selections</h4>
          <p class="lead mx-xl-3">Tell us which products & brands you’re most interested in, and we’ll bring them right to your desk.</p>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-round bg-primary mx-auto mb-4">
            <svg class="icon icon-lg bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Icon For iPhone-X</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                <path
                  d="M8,2.5 C7.30964406,2.5 6.75,3.05964406 6.75,3.75 L6.75,20.25 C6.75,20.9403559 7.30964406,21.5 8,21.5 L16,21.5 C16.6903559,21.5 17.25,20.9403559 17.25,20.25 L17.25,3.75 C17.25,3.05964406 16.6903559,2.5 16,2.5 L8,2.5 Z"
                  fill="#000000"
                  opacity="0.3"></path>
                <path
                  d="M8,2.5 C7.30964406,2.5 6.75,3.05964406 6.75,3.75 L6.75,20.25 C6.75,20.9403559 7.30964406,21.5 8,21.5 L16,21.5 C16.6903559,21.5 17.25,20.9403559 17.25,20.25 L17.25,3.75 C17.25,3.05964406 16.6903559,2.5 16,2.5 L8,2.5 Z M8,1 L16,1 C17.5187831,1 18.75,2.23121694 18.75,3.75 L18.75,20.25 C18.75,21.7687831 17.5187831,23 16,23 L8,23 C6.48121694,23 5.25,21.7687831 5.25,20.25 L5.25,3.75 C5.25,2.23121694 6.48121694,1 8,1 Z M9.5,1.75 L14.5,1.75 C14.7761424,1.75 15,1.97385763 15,2.25 L15,3.25 C15,3.52614237 14.7761424,3.75 14.5,3.75 L9.5,3.75 C9.22385763,3.75 9,3.52614237 9,3.25 L9,2.25 C9,1.97385763 9.22385763,1.75 9.5,1.75 Z"
                  fill="#000000"
                  fill-rule="nonzero"></path>
              </g>
            </svg>
          </div>
          <h4>Quick feedback</h4>
          <p class="lead mx-xl-3">Our 2 min surveys allow you to share real-time feedback directly with the brands behind the products in a seamless way.</p>
        </div>
        <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-round bg-primary mx-auto mb-4">
            <svg class="icon icon-lg bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Icon For Wallet#3</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                <path d="M4,4 L20,4 C21.1045695,4 22,4.8954305 22,6 L22,18 C22,19.1045695 21.1045695,20 20,20 L4,20 C2.8954305,20 2,19.1045695 2,18 L2,6 C2,4.8954305 2.8954305,4 4,4 Z" fill="#000000" opacity="0.3"></path>
                <path d="M18.5,11 L5.5,11 C4.67157288,11 4,11.6715729 4,12.5 L4,13 L8.58578644,13 C8.85100293,13 9.10535684,13.1053568 9.29289322,13.2928932 L10.2928932,14.2928932 C10.7456461,14.7456461 11.3597108,15 12,15 C12.6402892,15 13.2543539,14.7456461 13.7071068,14.2928932 L14.7071068,13.2928932 C14.8946432,13.1053568 15.1489971,13 15.4142136,13 L20,13 L20,12.5 C20,11.6715729 19.3284271,11 18.5,11 Z"
                  fill="#000000">
                </path>
                <path d="M5.5,6 C4.67157288,6 4,6.67157288 4,7.5 L4,8 L20,8 L20,7.5 C20,6.67157288 19.3284271,6 18.5,6 L5.5,6 Z" fill="#000000"></path>
              </g>
            </svg>
          </div>
          <h4>It's FREE!</h4>
          <p class="lead mx-xl-3">All products sent to your team at no cost to you or your company.</p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-xl-8 col-lg-9">
          <h2 class="display-4 mx-xl-6">How it works</h2>
          <p class="lead">
            Ordering Gathr for your workplace is simple and straightforward.
          </p>
        </div>
      </div>
      <div class="row justify-content-between align-items-center my-6">
        <div class="col-md-7 col-lg-7 mb-4 mb-md-0" data-aos="fade-right">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <img src="assets/img/testphoto.jpg" alt="Image" class="rounded shadow-3d rotate-right">
            </div>
          </div>
        </div>
        <div class="col-md-5" data-aos="fade">
          <!-- <h3 class="h1">Color Theory</h3> <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p> -->
          <ul class="list-unstyled mb-0">
            <li class="d-flex py-2">
              <div class="icon-round icon-round-xs bg-primary mr-2">
                <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z"
                    fill="#212529"/>
                </svg>

              </div>
              <span>
                <span class="font-weight-bold">Step 1:
                </span>Tell us about your team.</span>
            </li>
            <li class="d-flex py-2">
              <div class="icon-round icon-round-xs bg-primary mr-2">
                <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z"
                    fill="#212529"/>
                </svg>

              </div>
              <span>
                <span class="font-weight-bold">Step 2:
                </span>We send you curated products from partner brands directly to your offices.</span>
            </li>
            <li class="d-flex py-2">
              <div class="icon-round icon-round-xs bg-primary mr-2">
                <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z"
                    fill="#212529"/>
                </svg>

              </div>
              <span>
                <span class="font-weight-bold">Step 3:
                </span>You Gathr around and experience new products together.</span>
            </li>
            <li class="d-flex py-2">
              <div class="icon-round icon-round-xs bg-primary mr-2">
                <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z"
                    fill="#212529"/>
                </svg>

              </div>
              <span>
                <span class="font-weight-bold">Step 4:
                </span>We'll follow up with a brief feedback form within a week to see how you liked it!</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary text-light pt-0">
    <div class="container">
      <div class="row justify-content-center mb-0">
        <div class="col-xl-6 col-lg-8 col-md-10 text-center">
          <h1 class="mb-0">Try Gathr Today</h1>
          <p class="lead">Breaks at work just got interesting.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-xl-6 col-lg-7 col-md-9">
          <div id='form-container'>
            <%= render partial: 'form', locals: { early_adoptor: @early_adoptor} %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary-alt">
    <div class="container">
      <div class="row text-center text-dark mb-4">
        <div class="col">
          <h1 class="display-4">See what people are saying</h1>
        </div>
      </div>
      <div class="row" data-isotope-collection="data-isotope-collection">
        <div class="col-sm-6 col-lg-6" data-isotope-item="data-isotope-item">
          <div class="card card-body">
            <div class="flex-grow-1 mb-3">
              <p class="lead">
                &ldquo;I’ve been contemplating new over ear headphones for a while now, but never made it over - was great to be able to try the M&D style today.&rdquo;
              </p>
            </div>
            <div class="avatar-author align-items-center">
              <img src="https://media.licdn.com/dms/image/C4D03AQGNxENLXxzhQg/profile-displayphoto-shrink_800_800/0?e=1570665600&v=beta&t=-WCGTZljxHfxLBaPJ5gCP4jhYzy-lfSwkT6At2GBMC4" alt="Avatar" class="avatar">
              <div class="ml-2">
                <p class="my-0">Zachary Peterson</p>
                <span>Senior Marketing Manager</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6" data-isotope-item="data-isotope-item">
          <div class="card card-body">
            <div class="flex-grow-1 mb-3">
              <p class="lead">
                &ldquo;I wouldn’t find anything like this in the store myself, neat that it found me here&rdquo;
              </p>
            </div>
            <div class="avatar-author align-items-center">
              <img src="https://media.licdn.com/dms/image/C5603AQF8Jgk9o_tfkA/profile-displayphoto-shrink_800_800/0?e=1570665600&v=beta&t=UnafDlZHfGd-KbawLwLlyaLTvta3VfyiyBhjscr41eQ" alt="Avatar" class="avatar">
              <div class="ml-2">
                <p class="my-0">Brittany Pace</p>
                <span>People Operations Partner</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6" data-isotope-item="data-isotope-item">
          <div class="card card-body">
            <div class="flex-grow-1 mb-3">
              <p class="lead">
                &ldquo;My colleagues and I requested new travel gear, and Gathr delivered exactly that… a series of new travel brands and gear.&rdquo;
              </p>
            </div>
            <div class="avatar-author align-items-center">
              <img src="https://media.licdn.com/dms/image/C4D03AQGyrSppGFziIg/profile-displayphoto-shrink_800_800/0?e=1570665600&v=beta&t=zPyo9bQUH8CaCnykQLTDoiinQ3CXY86Vj_RRWxDSKNQ" alt="Avatar" class="avatar">
              <div class="ml-2">
                <p class="my-0">Karena Gupta</p>
                <span>Software Engineer</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-6" data-isotope-item="data-isotope-item">
          <div class="card card-body">
            <div class="flex-grow-1 mb-3">
              <p class="lead">
                &ldquo;I’d never heard of 9/10 of the new products they brought in, but they’re all things I’d love. I wonder how they find them.&rdquo;
              </p>
            </div>
            <div class="avatar-author align-items-center">
              <img src="https://media.licdn.com/dms/image/C4D03AQGRLr7Tj1iCVA/profile-displayphoto-shrink_800_800/0?e=1570665600&v=beta&t=buGdk9aBKSQiqjEeMWbPP-DgRa6-VrucRfjBAlOH7Sg" alt="Avatar" class="avatar">
              <div class="ml-2">
                <p class="my-0">Thomas Müller</p>
                <span>Consultant</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'common/spinner' %>

  <%=render partial: 'common/footer' %>
