<%=render partial: 'common/header' %>

<body>

  <%=render partial: 'common/navCommon' %>

  <section>
    <div class="container">
      <div class="row justify-content-between align-items-center my-0">
        <div class="col-md-6" data-aos="fade">
          <h1>A new kind of office perk</h1>
          <p class="lead">Engage your team with new product experiences personalized just for them.</p>
          <div id='form-container'>
            <%= render partial: 'form', locals: { early_adoptor: @early_adoptor} %>
          </div>  
          <span class="text-small text-muted">Already using Gathr?
            <a href="#">Sign In</a>
          </span>
        </div>
        <div class="col-md-5 col-lg-6 mb-4 mb-md-0" data-aos="fade-left">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <img src="assets/img/testphoto.jpg" alt="Image" class="rounded shadow-3d rotate-left">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary-alt text-light has-divider">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-10 col-md-10 text-center">
          <h2 class="mb-0">The water cooler brought us together in the 60's.</br>In 2019, we Gathr.</h2>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row mb-4 text-center">
      <div class="col">
        <h3>Gathr brings new product discovery into the workplace by allowing your employees to experience new & noteworthy products coming to market from leading brands.</h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="icon-round bg-primary mx-auto mb-4">
          <svg class="icon bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Icon For Shield-protected</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
              <path
                d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
                fill="#000000"
                opacity="0.3"></path>
              <path
                d="M14.5,11 C15.0522847,11 15.5,11.4477153 15.5,12 L15.5,15 C15.5,15.5522847 15.0522847,16 14.5,16 L9.5,16 C8.94771525,16 8.5,15.5522847 8.5,15 L8.5,12 C8.5,11.4477153 8.94771525,11 9.5,11 L9.5,10.5 C9.5,9.11928813 10.6192881,8 12,8 C13.3807119,8 14.5,9.11928813 14.5,10.5 L14.5,11 Z M12,9 C11.1715729,9 10.5,9.67157288 10.5,10.5 L10.5,11 L13.5,11 L13.5,10.5 C13.5,9.67157288 12.8284271,9 12,9 Z"
                fill="#000000"></path>
            </g>
          </svg>
        </div>
        <h4>Customized on the fly</h4>
        <p class="lead mx-xl-3">Receive only those products that your employees would naturally reach for on store shelves.</p>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="icon-round bg-primary mx-auto mb-4">
          <svg class="icon bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Icon For Code</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
              <path
                d="M17.2718029,8.68536757 C16.8932864,8.28319382 16.9124644,7.65031935 17.3146382,7.27180288 C17.7168119,6.89328641 18.3496864,6.91246442 18.7282029,7.31463817 L22.7282029,11.5646382 C23.0906029,11.9496882 23.0906029,12.5503176 22.7282029,12.9353676 L18.7282029,17.1853676 C18.3496864,17.5875413 17.7168119,17.6067193 17.3146382,17.2282029 C16.9124644,16.8496864 16.8932864,16.2168119 17.2718029,15.8146382 L20.6267538,12.2500029 L17.2718029,8.68536757 Z M6.72819712,8.6853647 L3.37324625,12.25 L6.72819712,15.8146353 C7.10671359,16.2168091 7.08753558,16.8496835 6.68536183,17.2282 C6.28318808,17.6067165 5.65031361,17.5875384 5.27179713,17.1853647 L1.27179713,12.9353647 C0.909397125,12.5503147 0.909397125,11.9496853 1.27179713,11.5646353 L5.27179713,7.3146353 C5.65031361,6.91246155 6.28318808,6.89328354 6.68536183,7.27180001 C7.08753558,7.65031648 7.10671359,8.28319095 6.72819712,8.6853647 Z"
                fill="#000000"
                fill-rule="nonzero"></path>
              <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-345.000000) translate(-12.000000, -12.000000) " x="11" y="4" width="2" height="16" rx="1"></rect>
            </g>
          </svg>
        </div>
        <h4>Quick takes</h4>
        <p class="lead mx-xl-3">Individual employees have a chance to rate their product experience in a quick, easy form.</p>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-round bg-primary mx-auto mb-4">
          <svg class="icon bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>Icon For Box#2</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
              <path
                d="M4,9.67471899 L10.880262,13.6470401 C10.9543486,13.689814 11.0320333,13.7207107 11.1111111,13.740321 L11.1111111,21.4444444 L4.49070127,17.526473 C4.18655139,17.3464765 4,17.0193034 4,16.6658832 L4,9.67471899 Z M20,9.56911707 L20,16.6658832 C20,17.0193034 19.8134486,17.3464765 19.5092987,17.526473 L12.8888889,21.4444444 L12.8888889,13.6728275 C12.9050191,13.6647696 12.9210067,13.6561758 12.9368301,13.6470401 L20,9.56911707 Z"
                fill="#000000"></path>
              <path
                d="M4.21611835,7.74669402 C4.30015839,7.64056877 4.40623188,7.55087574 4.5299008,7.48500698 L11.5299008,3.75665466 C11.8237589,3.60013944 12.1762411,3.60013944 12.4700992,3.75665466 L19.4700992,7.48500698 C19.5654307,7.53578262 19.6503066,7.60071528 19.7226939,7.67641889 L12.0479413,12.1074394 C11.9974761,12.1365754 11.9509488,12.1699127 11.9085461,12.2067543 C11.8661433,12.1699127 11.819616,12.1365754 11.7691509,12.1074394 L4.21611835,7.74669402 Z"
                fill="#000000"
                opacity="0.3"></path>
            </g>
          </svg>
        </div>
        <h4>It's FREE!</h4>
        <p class="lead mx-xl-3">All products sent to your team at no cost to you.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row mb-4 text-left">
      <div class="col">
        <h3 class="display-4">Experience all kinds of new</h3>
        <!-- <h4>Your employees can be the first to try the latest</h4> -->
        <h3 class="h3">Your employees can be the first to try the latest
          <div class="highlight">
            <span data-typed-text="data-typed-text" data-loop="true" data-type-speed="50" data-strings='["CBD infused flavored drink.","chickpea-flour based keto snack.","noise-cancelling luxury headphones.","trending men&#39;s cologne.","soy-based protein bar."]'></span>
          </div>
        </h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-12">
        <img src="assets/img/productSamples.png" alt="Image" class="">
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-12 col-lg-12">
        <img src="assets/img/brandSamples.png" alt="Image" class="">
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-xl-8 col-lg-9">
        <h2 class="display-4 mx-xl-6">How it works</h2>
        <p class="lead">
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
        </p>
      </div>
    </div>
    <div class="row justify-content-between align-items-center my-6">
      <div class="col-md-7 col-lg-7 mb-4 mb-md-0" data-aos="fade-right">
        <div class="row justify-content-center">
          <div class="col-xl-9 col-lg-10">
            <img src="assets/img/testphoto.jpg" alt="Image" class="rounded shadow-3d rotate-right">
          </div>
        </div>
      </div>
      <div class="col-md-5" data-aos="fade">
        <!-- <h3 class="h1">Color Theory</h3> <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.</p> -->
        <ul class="list-unstyled mb-0">
          <li class="d-flex py-2">
            <div class="icon-round icon-round-xs bg-primary mr-2">
              <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z"
                  fill="#212529"/>
              </svg>

            </div>
            <span>
              <span class="font-weight-bold">Step 1:
              </span>You tell us about your team</span>
          </li>
          <li class="d-flex py-2">
            <div class="icon-round icon-round-xs bg-primary mr-2">
              <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z"
                  fill="#212529"/>
              </svg>

            </div>
            <span>
              <span class="font-weight-bold">Step 2:
              </span>We then personalize and send new products from partner brands to your offices.</span>
          </li>
          <li class="d-flex py-2">
            <div class="icon-round icon-round-xs bg-primary mr-2">
              <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z"
                  fill="#212529"/>
              </svg>

            </div>
            <span>
              <span class="font-weight-bold">Step 3:
              </span>You Gathr around and experience new products together.</span>
          </li>
          <li class="d-flex py-2">
            <div class="icon-round icon-round-xs bg-primary mr-2">
              <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z"
                  fill="#212529"/>
              </svg>

            </div>
            <span>
              <span class="font-weight-bold">Step 4:
              </span>We'll follow up with a feedback form within a week to see how you liked it!</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="bg-primary-alt">
      <div class="container">
        <div class="row text-center text-light mb-4">
          <div class="col">
            <h1>See what people are saying</h1>
          </div>
        </div>
        <div class="row" data-isotope-collection>
          <div class="col-sm-6 col-lg-6" data-isotope-item>
            <div class="card card-body">
              <div class="flex-grow-1 mb-3">
                <p class="lead">
                  &ldquo;I’ve been contemplating new over ear headphones for a while now, but never made it over - was great to be able to try the M&D style today.&rdquo;
                </p>
              </div>
              <div class="avatar-author align-items-center">
                <img src="assets/img/male-2.jpg" alt="Avatar" class="avatar">
                <div class="ml-2">
                  <p class="my-0">Brett Thompson</p>
                  <span>Designer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6" data-isotope-item>
            <div class="card card-body">
              <div class="flex-grow-1 mb-3">
                <p class="lead">
                  &ldquo;I wouldn’t find anything like this in the store myself, neat that it found me here&rdquo;
                </p>
              </div>
              <div class="avatar-author align-items-center">
                <img src="assets/img/male-2.jpg" alt="Avatar" class="avatar">
                <div class="ml-2">
                  <p class="my-0">Brett Thompson</p>
                  <span>Developer</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6" data-isotope-item>
            <div class="card card-body">
              <div class="flex-grow-1 mb-3">
                <p class="lead">
                  &ldquo;My colleagues and I requested new travel gear, and Gathr delivered exactly that… a series of new travel brands and gear.&rdquo;
                </p>
              </div>
              <div class="avatar-author align-items-center">
                <img src="assets/img/male-2.jpg" alt="Avatar" class="avatar">
                <div class="ml-2">
                  <p class="my-0">Brett Thompson</p>
                  <span>Cusomter</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-6" data-isotope-item>
            <div class="card card-body">
              <div class="flex-grow-1 mb-3">
                <p class="lead">
                  &ldquo;I’d never heard of 9/10 of the new products they brought in, but they’re all things I’d love. I wonder how they find them.&rdquo;
                </p>
              </div>
              <div class="avatar-author align-items-center">
                <img src="assets/img/male-2.jpg" alt="Avatar" class="avatar">
                <div class="ml-2">
                  <p class="my-0">Brett Thompson</p>
                  <span>Designer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<%= render 'common/spinner' %>

<%=render partial: 'common/footer' %>
