<%=render partial: 'common/header' %>

<body>

  <%=render partial: 'common/navCommon' %>

  <section class="pb-0">
    <div class="container">
      <div class="row justify-content-between align-items-center my-0">
        <div class="col-md-9" data-aos="fade">
          <h1 class="display-4">We are now accepting new brand partners onto our platform.</h1>
          <p class="lead">
            Upgrade your product sampling and marketing efforts to unlock real ROI. Access audiences in 50+ Gathr offices across the country, including prominent workplaces such as:
          </p>
          <img src="assets/img/brands.png" alt="Image" class="">
          <div id='form-container'>
            <%= render partial: 'form', locals: { early_adoptor: @early_adoptor} %>
          </div>
          <p class="lead">
            Got questions? Email us at <a href="mailto:brands@gathrnow.com">brands@gathrnow.com</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

<%= render 'common/spinner' %>

<%=render partial: 'common/footer' %>
